<!DOCTYPE html>
<html ng-app="quoteBook">

<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-controller="mainCtrl">
	<div class="container">
	<form class="row">
		<input class="input-field col s6" type="text" ng-model="filterQuote"> 
		<button class="waves-effect waves-light btn filter-btn col s3">Filter Quotes</button>
		</form>
		<div class="row">
		<div ng-repeat="quote in quotes | filter: filterQuote"  class="card-panel col s3 quote-card">
		<blockquote>{{ quote.text }}<br> - <span class="author">{{ quote.author }}</span></blockquote>
	</div>
</div>
	<div class="row">
		<form class="col col6">
		<input type="text" placeholder="Author" ng-model="author">
		<input type="text" placeholder="Quote" ng-model="quote">
		<button class="waves-effect waves-light btn" ng-click="addQuote()">Add Quote</button>
		</form>
		
		<form class="col col6">
		<input type="text" placeholder="Quote" ng-model="text"> 
		<button class="waves-effect waves-light btn deep-orange"ng-click="removeQuote($text)">Remove Quote</button>
		</form>
	</div>
</div>
	 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	 <script src="js/app.js"></script>
	 <script src="js/dataService.js"></script>
	 <script src="js/mainCtrl.js"></script>
</body>

</html>
